<ul class="share-buttons">
  <li>
  	<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" title="Share on Facebook" rel="nofollow" target="_blank">
  		<img alt="Share on Facebook" src="{{ site.url }}/images/social_flat_rounded_rects_svg/Facebook.svg"></a></li>
  <li>
  	<a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title }}:%20{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Tweet">
  		<img alt="Tweet" src="{{ site.url }}/images/social_flat_rounded_rects_svg/Twitter.svg"></a></li>
  <li>
  	<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
  		<img alt="Share on Google+" src="{{ site.url }}/images/social_flat_rounded_rects_svg/Google+.svg"></a></li>
  <li>
  	<a href="https://getpocket.com/save?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Add to Pocket">
  		<img alt="Add to Pocket" src="{{ site.url }}/images/social_flat_rounded_rects_svg/Pocket.svg"></a></li>
  <li>
  	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source={{ site.url }}{{ page.url }}" target="_blank" title="Share on LinkedIn">
  		<img alt="Share on LinkedIn" src="{{ site.url }}/images/social_flat_rounded_rects_svg/LinkedIn.svg"></a></li>
  <li>
  	<a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" target="_blank" title="Send email">
  		<img alt="Send email" src="{{ site.url }}/images/social_flat_rounded_rects_svg/Email.svg"></a></li>
</ul>
